.stats {
    color: #FFFFFF;
}

.win,
.lose,
.pause {
    display: none;
}
.win.active,
.lose.active,
.pause.active {
    display: flex;
}

.header-menu {
    display: flex;
    flex-flow: row nowrap;
}

.game {
    display: block;
    min-height: 100vh;
    padding: 20px;
}

.results-actions {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.complexity {
    display: none;
    flex-flow: row wrap;
    justify-content: center;
}
.complexity.active {
    display: flex;
}

.complexity-grid {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}



.complexity button {
    background-color: var(--accent-color);
    color: var(--text-color);
    border-radius: 100%;
    border-width: 0;
    height: 100px;
    width: 100px;
    margin: 5px;
    transition: 0.3s;
    align-content: center;
    font-size: 1.5rem;
    text-decoration: none;
}