:root {
    --background-color: #FFFFFF;
    --second-color: #181E00;
    --accent-color: #C8E642;
    --text-color: #000000;
}

.car {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    touch-action: none;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1;
    pointer-events: auto;
}

.distance {
    width: 200px;
    height: 3rem;
    background-color: #d7d7d7;
    border: 3px solid var(--accent-color);
    border-radius: 10px;
    align-content: center;
    font-size: 2rem;
}

.field {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 10px;
}

.road-wrapper {
    position: relative;
    width: 100%;
    height: 65vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-flow: column nowrap;
}

.roadCanvas {
    width: 80%;
    height: 80%;
    display: block;
}

.distance {
    border: 3px solid var(--accent-color);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    background-color: white;
}

.timer {
    background: white;
    border: 3px solid var(--accent-color);
    border-radius: 8px;
    padding: 0.25rem 0.6rem;
    font-size: 2rem;
    height: 2rem;
    width: 150px;
}

.car.offroad {
    filter: drop-shadow(0 0 8px #ff3b3b);
    opacity: 0.85;
}

@media (min-width: 1000px) {
    .car { width: 50; height: 50px; }
    .roadCanvas { width: 50%; }
}

.attempts {
    border: 3px solid var(--accent-color);
    border-radius: 8px;
    padding: 0.25rem 0.6rem;
    font-size: 1.2rem;
    z-index: 60;
    color: var(--accent-color);
    display: none;
}

.header_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}