:root {
    --background-color: #FFFFFF;
    --second-color: #181E00;
    --accent-color: #C8E642;
    --text-color: #000000;
}

.question {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}

.speedometer {
    position: relative;
    height: 200px;
    width: 200px;
    background-color: var(--second-color);
    border-radius: 100%;
}

.arrow {
    position: absolute;
    width: 0;
    height: 0;
    bottom: 50%;
    left: calc(50% - 10px);
    transform-origin: center bottom;
    transform: rotate(-45deg);
    cursor: grab;
    z-index: 10;

    border-left: 10px solid transparent;  
    border-right: 10px solid transparent;  
    border-bottom: 90px solid var(--accent-color);  
}

.arrow:active {
    cursor: grabbing;
}

.center {
    position: absolute;
    left: calc(50% - 20px);
    bottom: 40%;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--accent-color);
}

.speed {
    min-width: 200px;
    max-width: 400px;
    min-height: 2rem;
    max-height: 5rem;
    background-color: #b9b9b9;
    color: #000000;
    font-size: 2rem;
}