:root {
    --background-color: #FFFFFF;
    --second-color: #181E00;
    --accent-color: #C8E642;
    --text-color: #000000;
}

.car {

    width: 50px;
    height: 50px;
}

.time {
    min-width: 200px;
    min-height: 3rem;
    background-color: #d7d7d7;
    border: 3px solid var(--accent-color);
    border-radius: 10px;
    align-content: center;
    font-size: 2.5rem;
    margin: 20px;
}

.field {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.road {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #272727;
    padding: 2px;
    min-width: 600px;
}

.road.active {
    border: 2px solid red;
}

.line {
    background-color: white;
    width: 90%;
    position: absolute;
    top: 50%;
    height: 2px;
}

.finish {
    position: absolute;
    right: 8%;
    width: 6px;
    background-color: #C8E642;
    height: 100%;
    bottom: 0;
}

.car {
    position: absolute;
    left: 10px;
    bottom: 5px;
    cursor: grab;
}