:root {
    --background-color: #FFFFFF;
    --second-color: #181E00;
    --accent-color: #C8E642;
    --text-color: #000000;
}

.time {
    min-width: 200px;
    min-height: 3rem;
    background-color: #d7d7d7;
    border: 3px solid var(--accent-color);
    border-radius: 10px;
    align-content: center;
    font-size: 2.5rem;
    margin: 20px;
}

.field {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.road {
    position: relative;
    height: 200px;
    background-color: #272727;
    padding: 2px;
    width: 900px;
}

.road.active {
    border: 2px solid red;
}

.line1,
.line2 {
    border: 3px dashed white;
    width: 90%;
    position: absolute;
    border-width: 1px;
}

.line1 {
    top: 33%;
}

.line2 {
    bottom: 33%;
}

.finish {
    position: absolute;
    right: 8%;
    width: 6px;
    background-color: #C8E642;
    height: 100%;
    bottom: 0;
}

.car {
    opacity: 1;
    position: absolute;
    left: 10px;
    top: 65%;
    cursor: grab;
    width: 70px;
    height: 70px;
}

.car.active {
    opacity: 0;
}

@keyframes moveRight {
  0% { transform: translateX(0); }
  100% { transform: translateX(100%); }
}