.play-btn {
    width: 150px;
    height: 150px;
}
.play-btn:hover {
    scale: 1.02;
}

.login-btn {
    margin-right: 20px;
}

.main-menu {
    display: block;
    min-height: 100vh;
    padding: 20px;
}

.levels-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.levels,
.rating,
.login {
    display: none;
}

.levels.active,
.rating.active,
.login.active {
    display: flex;
}

.title {
    font-size: 2rem;
}

.login .container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.signup-btn {
    background-color: transparent;
    border-radius: 0;
    font-size: 1rem;
    color: white;
    width: 150px;
}